# Ignore venv directory
venv/
# Ignore Python bytecode files
*.pyc
# ignore __pycache__ directories
__pycache__/
.* 
!.gitignore
#  ignore demo.py file
demo.py
#  ignore generate_synthetic_data.py file
generate_synthetic_data.py

# Ignore tmp directory
tmp/
# ignore credentials.json file
credentials.json
# .json files in root directory
*.json
